.dropdown-item:hover,
.dropdown-item:active {
    outline: none;
    background: #e9ecef;
}

#recalcBtnGroup .dropdown-item {
    color: #212529;
    font-size: 0.95rem;
}

.detailsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    color: #6d6d6d;
    font-weight: bold;
}

#records:disabled {
    color: #6c757d;
}

.custom-select {
    resize: vertical;
    scrollbar-width: thin;
}

.dataTables_filter {
    float: left !important;
    font-weight: bold;
}

#previewTable,
#cronTable {
    margin: 4% 0 0 0;
    border: 2px #eeeeee solid;
    border-radius: 10px;
    width: fit-content;
    min-width: 100%;
}

#cronTable {
    margin: 0;
}

#previewTable input,
#cronTable input {
    margin-left: 10px;
}

#previewTable tr.odd,
#cronTable tr.odd {
    background: white !important;
}

.paginate_button:hover {
    -webkit-text-fill-color: #212529;
    background: #eeeeee !important;
}

.rotate {
    rotate: 180deg;
}

.wideBtn {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
}

.wideBtn:after,
.wideBtn:before {
    content: " ";
    display: block;
    border-bottom: 3px solid #007bff;
    border-radius: 3px;
}

.wideBtn span {
    translate: 0 8px;
}

.container button:hover,
.container a:hover {
    outline: none;
}

.fa-play {
    transform: translateY(2px);
}

.custom-radio {
    line-height: 22px;
}

.custom-control-label {
    color: #6d6d6d;
}

.downloadBtn,
.cleanupCron {
    color: #adb2b8;
    text-align: right;
    text-decoration: underline;
    padding-top: 0.25em;
}

.downloadBtn a,
.cleanupCron a,
.row-remove {
    cursor: pointer;
}

#cronRepeat {
    width: fit-content;
}